TESTNET_PK=your private key here, probably a Hardhat account
PK=your private key here, probably a Hardhat account
MNEMONIC=here is where your twelve words mnemonic should be put my friend

#INFURA
INFURA_KEY=

#ALCHEMY
#ETH
ALCHEMY_KEY_ETH=
#POLYGON
ALCHEMY_KEY_POLYGON=
#BASE
ALCHEMY_KEY_BASE=
#ETH_TESTNET
ALCHEMY_KEY_SEPOLIA=
#MUMBAI
ALCHEMY_KEY_MUMBAI=
#BASE_TESTNET
ALCHEMY_KEY_BASE_SEPOLIA=

#EtherScan key
ETHSCAN_KEY=
#PolygonScan key
POLYSCAN_KEY=
#BaseScan key
BASESCAN_KEY=

TENDERLY_ACCESS_KEY=
